:root{
    --main-theme-color: #493628;
    --background-color: #FAF7F0;
    --hover-color: #655040;
    --text-color: #2E1C0C;
    --header-font: "Playfair Display", serif;
    --body-text-font: "Merriweather", serif;
}

.scroll-reveal {
    opacity: 0;
    transform: translateX(-150px);
    transition: all 0.6s ease-out;
}

.scroll-reveal.active {
    opacity: 1;
    transform: translateX(0);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

nav {
    width: 70%;
    min-height: 80px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}

nav h2 {
    font-family: var(--header-font);
}

nav .links a {
    font-family: var(--body-text-font);
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;

    &:hover {
        color: #a6886f;
        text-decoration: underline;
    }
}

nav .shop button {
    width: 150px;
    height: 38px;
    background-color: #493628;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid var(--text-color);
    color: var(--background-color);
    font-family: var(--body-text-font);
    cursor: pointer;
    transition: all .2s ease;

    &:focus {
        background-color: transparent;
        color: var(--text-color);
    }
}

.home-text {
    margin-top: 50px;
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    overflow: hidden;
}

.home-text h1 {
    font-family: var(--header-font);
    color: var(--main-theme-color);
    font-size: 6rem;
}

.home-text p {
    font-family: var(--body-text-font);
    color: var(--text-color);
    color: var(--text-color);
    font-size: 1.2rem;
}

.image-bar {
    margin-top: 50px;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-bar img {
    width: 250px;
    margin: 20px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: 100%;
    min-height: 500px;
    background-color: var(--text-color);
}

.about-container .about-text {
    width: 80%;
    height: auto;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-container .about-text .text {
    width: 55%;
    height: auto;
}

.about-container .about-text h1 {
    font-size: 3.5rem;
    color: var(--background-color);
    font-family: var(--header-font);
    padding: 40px 0px;
}

.about-container .about-text p {
    color: var(--background-color);
    font-family: var(--body-text-font);
    font-size: 1.2rem;
}

.about-container .about-text img {
    width: 400px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    box-shadow: 0px 0px 15px 5px #00000037;
}

.shop-container {
    margin-top: 120px;
    width: 80%;
    min-height: 1200px;
    margin-inline: auto
}

.shop-container h1 {
    font-family: var(--header-font);
    color: var(--text-color);
    text-align: center;
    font-size: 3.5rem;
}

.shop-container .shop-items {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.shop-container .shop-items .item-card {
    width: 350px;
    height: auto;
    border: 2px solid var(--text-color);
    margin: 20px;
}

.shop-container .shop-items .item-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
}

.shop-container .shop-items .item-card .details {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-container .shop-items .item-card h3 {
    color: var(--text-color);
    font-family: var(--header-font);
}

.shop-container .shop-items .item-card p{
    color: var(--main-theme-color);
    font-family: var(--body-text-font);
}

.contact-container {
    width: 100%;
    height: 350px;
    background-color: var(--text-color);
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}

.contact-container h2 {
    font-family: var(--header-font);
    color: #fde7ba;
    font-size: 2rem;
}

.contact-container .contact-details {
    margin-top: 100px;  
}

.contact-container .quick-links {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.contact-container .quick-links a {
    font-family: var(--body-text-font);
    color: #ffffff;
    text-decoration: none;
    margin-top: 20px;

    &:hover {
        text-decoration: underline;
    }
}

.contact-container .terms-conditions {
    margin-top: 100px;
        display: flex;
    flex-direction: column;
}

.contact-container .terms-conditions a {
    font-family: var(--body-text-font);
    color: #ffffff;
    text-decoration: none;
    margin-top: 20px;

    &:hover {
        text-decoration: underline;
    }
}

.contact-container .contact-details p {
    font-family: var(--body-text-font);
    color: #ffffff;
    margin-top: 20px;
}

@media (max-width: 1200px) {

    .about-container .about-text {
        flex-direction: column;
        justify-content: space-around;
        height: 800px;
    }

    .about-container .about-text img {
        margin-top: 10px;
        width: 100%;
    }

    .about-container .about-text .text {
        width: 100%;
    }

    .about-container .about-text .text h1 {
        font-size: 2.5rem;
    }

    .about-container .about-text .text p {
        font-size: 1rem;
    }
    .image-bar img {
        width: 300px;
        margin: 15px;
    }
}

@media (max-width: 940px) {
    .contact-container {
        flex-direction: column;
        height: auto;
        padding: 30px 0px;
    }
    .contact-container h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .contact-container .contact-details,
    .contact-container .quick-links,
    .contact-container .terms-conditions {
        padding: 0px 30px;
    }
}

@media (max-width: 780px) {
    nav {
        width: 90%;
    }
    
    nav .links {
        display: none;
    }

    nav .shop button{
        width: 120px;
        height: 35px;
        font-size: 12px;
    }

    .home-text {
        flex-direction: column;
        width: 90%;
        overflow: hidden;
    }

    .home-text h1 {
        font-size: 3.5rem;
        text-align: center;
    }
    .home-text p {
        font-size: 1rem;
        text-align: center;
    }
    .image-bar {
        animation: marquee 40s linear infinite;
    }
    .image-bar img {
        width: 250px;
        margin: 15px;
    }

    .shop-container h1 {
        font-size: 2.5rem;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}